* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     background: linear-gradient( to right, #8808,#00f2fe);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 .container{
    width: 360px;
    background-color: white;
    padding: 25px 30px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
 }
 .container h1{
    text-align: center;
    color: #333;
    margin-bottom: 25px;
 }
 .containter label{
    display: block;
    color: #555;
    font-size: 1.2rem;
    margin-top: 10px;
   }
.container input{
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   border: 1px solid gray;
   font-size: 1.2rem;
}

.container input:focus{
   outline:none;
   border-color: #4facfe;
}
.note{
   text-align: center;
   margin-top: 10px;
   font-size: 14px;
   color: #666;
}
#celsius{
   background-color: azure;
   border: 1px solid #523e3e;
}
#fahrenheit{
   background-color: azure;
   border: 1px solid #523e3e;
}
#kelvin{
   background-color: azure;
   border: 1px solid #523e3e;
}